
/* view pages */
div#z-maincontent.z-module-eternizer table tbody tr td {
    vertical-align: top;
}

/* display pages */
div.eternizerRightBox {
    float: right;
    margin: 0 1em;
    padding: .5em;
    /*border: 1px solid #666;*/
}

div.eternizerRightBox h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #CCC;
    padding-bottom: 8px;
}

div.eternizerRightBox p.manageLink {
    margin-left: 18px;
}

.eternizerColourPicker {
    cursor: pointer;
}

/* validation */
input.required, textarea.required {
    border: 1px solid #00a8e6;
}
input.validation-failed, textarea.validation-failed {
    border: 1px solid #f30;
    color : #f30;
}
input.validation-passed, textarea.validation-passed {
    border: 1px solid #0c0;
    color : #000;
}

.validation-advice {
    margin: 5px 0;
    padding: 5px;
    background-color: #f90;
    color : #fff;
    font-weight: 700;
}

