{# purpose of this template: general base layout #}
{% block header %}
    {{ pageAddAsset('javascript', zasset('@MUEternizerModule:js/MUEternizerModule.js')) }}
{% endblock %}

{% block titleArea %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ include('@MUEternizerModule/Helper/includeModerationPanel.html.twig') }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
{% endblock %}
