{# Purpose of this template: Display search options #}
<input type="hidden" id="mUEternizerModuleActive" name="active[MUEternizerModule]" value="1" />
{% if active_entry is defined %}
    <div>
        <input type="checkbox" id="active_mUEternizerModuleEntries" name="mUEternizerModuleSearchTypes[]" value="entry"{% if active_entry %} checked="checked"{% endif %} />
        <label for="active_mUEternizerModuleEntries">{{ __('Entries', 'mueternizermodule') }}</label>
    </div>
{% endif %}
