{# Purpose of this template: Display entries within an external context #}
{% for entry in items %}
    <h3>{{ entry.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('mueternizermodule_entry_display', { 'id': entry.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
